/* Global */
* {
  box-sizing: border-box;
}

body {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.4;
  margin: 0;
}
